.btn {
	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		padding: 1rem 3rem;
		border-radius: 5rem;
		font-size: $default-font-size;
		position: relative;
		border: 2px solid $brown;

		display: inline-block;
		transition: all 0.2s;
	}

	&:hover {
		outline: none;
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($black, 0.5);
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($black, 0.5);
	}

	&--brown {
		background-color: transparent;
		outline: $brown;
		color: $brown;
		margin: 2.5rem 1rem 0 0;
		@include respond(tab-port) {
			margin: 1rem;
		}
	}
}

.btn-rectangular {
	&:link,
	&:visited {
		color: $brown;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px solid $brown;
		padding: 1rem 3rem;
		font-size: $default-font-size;
		transition: all 0.2s;
	}

	&--white:hover,
	&:hover {
		background-color: $brown;
		color: $white;
		box-shadow: 0 1rem 2rem rgba($black, 0.5);
		transform: translateY(-3px);

	}

	&--white:active,
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($black, 0.5);
	}

	&--white:link,
	&--white:visited {
		color: $white;
		border-bottom: 1px solid $white;
	}

	&--white:hover {
		border-bottom: 1px solid transparent;
	}
}

.btn-primary,
.btn-secondary {
	width: 20rem;
	height: 2.5rem;
	border: 2px solid $brown;
	font-size: 1rem;
	font-weight: 700;
	margin: 0.2rem;
	cursor: pointer;
	width: 100%;
	max-width: 80vw;
	&:hover {
		outline: none;
		transform: translateY(-2px);
		box-shadow: 0 .5rem 1rem rgba($brown, 0.5);
	}
}

.btn-primary {
	background-color: $brown;
	color: white;
}

.btn-secondary {
	background-color: $white;
	color: $brown;
}
.btn-close {
	position: absolute;
	z-index: 10000;
	border: none;
	background-color: transparent;
	margin: 0;
	cursor: pointer;
	right: 3%;
	top:3%;
	&:hover {
		outline: none;
		transform: translateY(-4px);
	}
}