.App {
	font-family: "Montserrat", sans-serif;
	display: grid;
	grid-gap: 0.5rem;
	scroll-behavior: smooth;
	justify-content: center;
	width: 100%;
	align-content: center;
	justify-items: center;
	grid-template-areas:
		"nav"
		"hero"
		"about"
		"projects"
		"technologies"
		"skills"
		"contact"
		"footer";
}

