//COLORS

$white:#fff;
$black:#000;
$brown:#7B430A;
$beige:beige;



//PALETTE 1
$light-beige: #DFAC63;
$off-white: #FBF1D9;
$light-brown: #0a0a09;
$sage: #8E7E34;
$warm-beige: #B57522;
$sand: #FBDDA4;

//PALETTE 2
$lighter-orange: #FAD098;
$light-off-white: #FAD098;
$blush: #E49C6C;
$pink-blush: #CD7167;


//FONTS

$default-font-size:1.6rem;

//GRID VARIABLES

$horizontal-gutter:6rem;
$vertical-gutter:8rem;
$vertical-gutter-small:4rem;