.nav {
	width: 100%;
	overflow: hidden;
	color: $white;
	position: fixed;
	z-index: 199;
	height: auto;
	min-height: 7vh;
	display: flex;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	background-color: rgba(252, 249, 247, 0.329);
	margin: 0 auto;
	@media screen and (min-device-width: 768px) {
		padding: 0;
		height: 7vh;
	}

	img {
		height: 2rem;
		cursor: pointer;
	}
	ul {
		list-style: none;
		background-color: rgba(112, 75, 32, 0.918);
		border-radius: 44px;
		display: grid;
		grid-template-columns: 0rem repeat(5, min-content);
		align-items: center;
		text-align: center;
		margin: 0;
		justify-content: space-evenly;
		width: 100%;
		max-width: 100%;
		height: auto;
		min-height: 7vh;
		padding: 0rem;
		@media screen and (min-device-width: 768px) {
			grid-template-columns: 1fr repeat(4, 10%);
			column-gap: 0.3rem;
			width: 100vw;
			height: auto;
			border-radius: 0;
			margin: 0;
			padding: 0 1rem;
		}
		a {
			font-size: 0.7rem;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;
			cursor: pointer;
			@media screen and (min-device-width: 768px) {
				justify-content: flex-end;
				font-size: 0.9rem;
				font-weight: 400;
			}
			@media screen and (min-device-width: 1024px) {
				font-size: 1.2rem;
			}
			@media screen and (min-device-width: 1500px) {
				font-size: 2rem;
			}
		}
		.mobile-logo {
			@media screen and (min-device-width: 768px) {
				display: none;
			}
		}

		.desktop-logo {
			a {
				display: none;
				@media screen and (min-device-width: 768px) {
					justify-content: start;
					padding: 0.3rem 1rem;
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
			img {
				height: auto;
				width: 3rem;
				@media screen and (min-device-width: 1024px) {
					width: 4rem;
					height: auto;
				}
				@media screen and (min-device-width: 1500px) {
					width: 9rem;
					height: auto;
				}
			}
		}
		h3 {
			display: none;
			width: 100%;
			height: 100%;
			@media screen and (min-device-width: 768px) {
				display: flex;
				font-size: 1.2rem;
				text-transform: none;
				padding: 0rem 1rem;
				padding-top: 0.3rem;
				font-family: "Satisfy", serif;
				color: $off-white;
			}
			@media screen and (min-device-width: 1024px) {
				font-size: 1.5rem;
			}
			@media screen and (min-device-width: 1500px) {
				font-size: 3rem;
				padding: 0 2rem;
				padding-top: 1rem;
			}
		}
	}
}
