.App {
	font-family: "Montserrat", sans-serif;
	display: grid;
	grid: auto-flow min-content / 1fr;
	grid-gap: 1rem;
	scroll-behavior: smooth;
	grid-template-areas:
		"nav"
		"hero"
		"about"
		"projects"
		"technologies"
		"contact";
}
.nav {
	grid-area: nav;
}
.hero {
	grid-area: hero;
}
.about {
	grid-area: about;
	background-color: $white;
}
.projects {
	grid-area: projects;
	background-color: $beige-light;
}
.technologies {
	grid-area: technologies;
	background-color: $white;
}
.contact {
	grid-area: contact;
	background-color: $beige-light;

	footer {
		background-color: $brown-light;
		color: $beige-light;
		.label {
			display: none;
		}
	}
}
