.App {
	display: grid;
	grid: auto-flow min-content / 1fr;
	grid-gap: 1rem;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	scroll-behavior: smooth;
	grid-template-areas:
        "nav"
		"hero"
		"about"
		"projects"
        "technologies"
        "contact";
}
.nav {
	grid-area: nav;
	justify-self: center;
}
.hero {
	grid-area: hero;
	justify-self: center;
}
.about {
	grid-area: about;
	justify-self: center;
	background-color: $white;

}
.projects {
	grid-area: projects;
	justify-self: center;
	background-color: $beige-light;

}
.technologies {
	grid-area: technologies;
	justify-items: center;
	background-color: $white;

}
.contact {
	grid-area: contact;
	justify-self: center;
	background-color: $beige-light;

	footer{
		background-color: $brown-light;
		color: $beige-light;
		.label{
			display: none;
		}
	}

}