//COLORS
$white:#fff;
$brown:#7B430A;
$brown-light: #B77423;
$beige:beige;
$beige-light:#FBF2DB;
$black: #0000;

//FONTS

$default-font-size: 1rem;
$big-font-size: 3rem;
$small-font-size: 1rem;
$tiny-font-size: 0.7rem;

//PALETTE 1
$light-beige: #DFAC63;
$off-white: #FBF1D9;
$light-brown: #0a0a09;
$sage: #8E7E34;
$warm-beige: #B57522;
$sand: #FBDDA4;

//PALETTE 2
$lighter-orange: #FAD098;
$light-off-white: #FAD098;
$blush: #E49C6C;
$pink-blush: #CD7167;


//FONTS

$default-font-size:1.6rem;

//SPACE VARIABLES
$space-x-small: .5rem;
$space-small: 1rem;
$space-medium: 1.5rem;
$space-large: 2rem;
$space-x-large: 4rem;

  // Media queries
$media-phablet: 400px;
$media-tablet: 550px;
$media-desktop: 1000px;
$media-ultra-wide: 2000px;
