.projects {
	padding: $space-large;
	grid-area: projects;
	background-color: $beige-light;
	@include section-grid;
	@include respond(desktop){
		padding: $space-x-large;
	}

	.projects-list {
		@include ul-grid(180px);
	}
	.project-card {
		width: 100%;
		height: 100%;
		align-self: center;
		margin: 0;
		padding: 0;
		display: grid;
		justify-items: center;
		justify-content: center;
		align-content: flex-start;
		color: $brown;
		font-weight: 500;
		cursor: pointer;
		position: relative;

		button {
			background-color: transparent;
			outline: transparent;
			border-color: transparent;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			color: $brown;
			&:disabled{
				opacity: 1;
				color: $brown;
			}
		}

		img,
		.overlay {
			width: 12rem;
			height: 9rem;
		}
		img {
			padding: 0;
			border-radius: 1rem;
			cursor: pointer;
			position: relative;
			margin-bottom: 0.4rem;
			transition: all 450ms;
			&:hover {
				outline: none;
				transform: translateY(-2px);
				box-shadow: 0 0.5rem 1rem rgba($brown, 0.5);
			}
		}
		.overlay {
			background-color: $brown-light;
			opacity: 0.4;
			display: flex;
			position: absolute;
			align-items: center;
			text-align: center;
			border-radius: 1rem;
			z-index:900;
			text-transform: uppercase;
			color: $white;
			font-size: 1.5rem;
			padding:0.5rem;
			font-weight: 500;
		}
	}
}

/* modal styles */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 600;
	background-color: rgba($black, 0.3);
}
.modal-container {
	background-color: $white;
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	max-width: 90vw;
	max-height: 95vh;
	border-radius: 8px;
}
.project-modal {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 1.5rem;
	overflow: hidden;
	row-gap: .7rem;
	column-gap: 1.5rem;
	scroll-behavior: smooth;
	overflow-scrolling: auto;
	.modal-img {
		width: 100%;
		height: auto;
		max-height: 50%;
		object-fit: cover;
		position: relative;
		overflow: hidden;
		justify-self: center;
		padding: 0;
	}

	.half {
		justify-self: center;
		width: 100%;
		max-width: 80vw;
		max-height: 90vh;
		margin: 0;
		.section-text {
			margin: 0;
			padding: 0;
			h2 {
				font-size: 1rem;
				padding: 0;
			}

			p {
				font-size: 0.8rem;
				text-transform: full-width;
				padding: 0;

			}
		}
	}

	.btn-box {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-self: center;
		align-content: stretch;
		width: 100%;
		max-width: 80vw;
		margin-top: .5rem;
	}

	ul {
		display: flex;
		margin: 0;
		flex-wrap: wrap;
		li {
			position: relative;
			color: $brown-light;
			background-color: white;
			padding:0.1rem;
			margin: 0.2rem;
		}
		span{
			border-radius: 0.9rem;
			border: 1px solid $brown-light;
			font-size: 0.8rem;
			padding: 0.1rem 0.5rem;
			text-align: center;
			cursor: pointer;
			&:hover {
				transform: translateY(-4px);
				color: $off-white;
				background-color:$brown-light ;
			}
		}
	}
}
