.technologies {
	grid-area: technologies;
	background-color: $white;
	min-height: 60vh;
	padding: $space-large;
	@include section-grid;
	@include respond(desktop){
		padding: $space-x-large;
	}
	ul {
		@include ul-grid(70px);
	}
	.techItem {
		label {
			display: inline-flex;
			flex-direction: column;
			width: 3.5rem;
			height: 4rem;
			justify-content: center;
			align-items: center;
			padding: 0;
			transition: all 450ms;
			cursor: pointer;
			@media screen and (min-width: 1024px) {
				width: 4rem;
				height: 5rem;
				color: transparent;
			}
			@media screen and (min-width: 2000px) {
				width: 6rem;
				height: 7rem;
			}
			&:hover {
				transform: translateY(-2px);
				color: $brown-light;
			}
			img {
				height: 100%;
				width: auto;
				margin-bottom: 0.5rem;
			}
		}
		.label {
			font-size: 0.8rem;
			text-align: center;
			font-weight: 400;
			@media screen and (min-width: 1024px) {
				font-size: 1rem;
			}
			@media screen and (min-width: 1400px) {
				font-size: 1.3rem;
			}
			@media screen and (min-width: 2000px) {
				font-size: 1.8rem;
			}
		}
	}
}
