.about {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	align-items: center;
	max-width: 100%;
	position: relative;
	margin-top: 2rem;;
	margin: auto;
	height: auto;
	&-image {
		max-width: 9rem;
		position: relative;
		margin: auto;
		align-items: center;
		@include respond(tab-port) {
			position: relative;
		}
	}
}
