.about{
        display: block;
        background-color: white;
        max-width: 100%;
        position: relative;
        margin: auto;
        justify-content: center;
        @include respond(tab-port) {
            margin-top:3rem;
        }

    &__image{
        max-width: 25%;
		position:absolute;
        margin: auto;
        @include respond(tab-port) {
			position:relative;
            margin-top:3rem;

    }
}
}