.background {
  width: 100%;
  height: 100%;
  background: transparent;
  background-position:top;
	background-size:cover;
  overflow: hidden;


    &__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;

    mask-image:
      radial-gradient(
      white 0%,
      white 30%,
      transparent 90%,
      transparent
    );
  }
}
