.hero {
	overflow: hidden;
	width: 100%;
  &-content {
		position: relative;
    margin: auto;
	}

	&-text-box {
		position: relative;
		top: 50%;

	}

	&-btn-box {
		position: relative;
		top: 80%;
	}
}