.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-self: center;
	min-height: 90vh;
	.section-text {
		max-width: 90%;
		padding: 0 1rem;
		justify-self: center;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
		grid-gap: 1rem;
		padding: 0.5rem 0.5rem;
		justify-items: center;
		position: relative;
		justify-self: center;
		width: 100%;

	}
	li {

		button {
			background-color: transparent;
			outline: transparent;
			border-color: transparent;
			&:disabled img {
				filter: brightness(0.7);
			}
			margin: 0;
			padding: 0;
			div {
				position: relative;
			}
		}
		img {
			height: 7.2rem;
			width: 9.3rem;
			padding: 0;
			border-radius: 1rem;
			cursor: pointer;

			&:hover {
				outline: none;
				transform: translateY(-2px);
				box-shadow: 0 0.5rem 1rem rgba($brown, 0.5);
			}
		}
		h3 {
			color: $brown;
			font-weight: 500;
			cursor: pointer;
		}

		.overlay {
			background-color: $off-white;
			opacity: 0.4;
			display: flex;
			position: absolute;
			align-items: center;
			z-index: 100;
			object-fit: cover;
			text-align: center;
			height: 7.2rem;
			width: 9.3rem;
			padding: 0;
			border-radius: 1rem;

			h3 {
				position: absolute;
				text-transform: uppercase;
				z-index: 900;
				opacity: 1;
				color: $brown;
				font-size: 1.5rem;
			}
		}
	}
}

.modal-container {
	background-color: $white;
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	padding: 0rem;
	padding-bottom: 1rem;
}


.modal {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 0.2rem;
	justify-content: center;
	align-items: center;
	max-width: 80vw;
	max-height: 90vh;

	.modal-img {
		width: 20rem;
		height: 11.5rem;
		object-fit: cover;
		position: relative;
		overflow: hidden;
		justify-self: center;
	}
	.half {
		justify-self: center;
		max-width: 80%;
		margin: 0;
		padding: 1rem;
	}
	.btn-box {
		display: flex;
		flex-direction: column;
		justify-self: center;
		align-self: flex-end;
		margin-top: 0.5rem;

		button {
			max-width: 100%;
			align-self: center;
			margin: 0.2rem auto;
		}
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 600;
	background-color: rgba($beige-light, 0.5);
}

.pills {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
	grid-gap: 0.2rem;
	max-width: 80%;
	span {
		margin: 0.2rem;
		padding: 0.2rem auto;
	}
	li {
		position: relative;
		border-radius: 0.5rem;
		border: 1px solid $brown-light;
		color: $brown-light;
		text-align: center;
		background-color: white;
		font-size: 0.8rem;
	}
}
