
.technologies {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	justify-self: center;
	min-height: 90vh;
	align-content: center;
	justify-content: center;
	justify-items: center;
	position: relative;

	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
		justify-content: center;
	}
	.techItem {
		padding: 1rem;
		label {
			display: inline-flex;
			flex-direction: column;
			height: 3.5rem;
			width: 3.5rem;
			justify-content: center;
			align-items: center;
			padding: 0;
		}
		.label {
			font-size: 0.8rem;
		}
		img {
			height: 2.4rem;
			margin-bottom: 0.5rem;
		}
	}
}
