* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: $brown;
}

section {
	padding: 2rem 0;
	height: 100vh;
	width: 100%;
	@include respond(tab-port) {
		padding: 1rem 0;
	}
}

article,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
