h1,
.h1 {
	font-size: 2.2rem;
	line-height: 2.56rem;
}
h2,
.h2 {
	font-size: 1.375rem;
	line-height: 1.75rem;
}
h3,
.h3 {
	font-size: 1rem;
	line-height: 1.375rem;
}
p {
	font-size: 1rem;
	line-height: 1.375rem;
}
	&:not(:last-child) {
		margin-bottom: 2rem;
}
.section-text{
	display: flex;
	justify-content: center;
}