.contact {
	@include section-grid;
	justify-items: center;

	.section-text {
		margin: 0;
	}
	ul {
		display: grid;
	}
	img {
		margin: 0.5rem;
		@media screen and (min-width: 1024px) {
			width: 1.5rem;
			height: auto;
			margin: 0.5rem 1rem;
		}
		@media screen and (min-width: 2000px) {
			width: 3rem;
			height: auto;
			margin: 1rem 2rem;
		}
	}
	label {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	span {
		font-size: 1rem;
		margin: 0.5 1rem;
		@media screen and (min-width: 1500px) {
			font-size: 2rem;
		}
		@media screen and (min-width: 2000px) {
			font-size: 3rem;
		}
	}
}

footer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	min-height: 5.3rem;
	padding: 0;
	margin: 0;

	.social-list {
		ul {
			display: flex;
		}
	}
	li {
		margin: 0.5rem;
		cursor: pointer;

		img {
			margin: 0.5rem;
			&:hover {
				outline: none;
				transform: translateY(-2px);
				box-shadow: 0 0.5rem 1rem rgba($brown, 0.5);
			}
			@media screen and (min-width: 1024px) {
				width: 2rem;
				height: auto;
				margin: 1rem;
			}
			@media screen and (min-width: 2000px) {
				width: 4rem;
				height: auto;
				margin: 2rem;
			}
		}
	}
}
