.contact {
	height: auto;
	position: relative;
	.section-text{
		margin-bottom: 0;
	}
}
.contact-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	align-items: center;
	justify-items: center;
	.contact-list {
		display: grid;
		grid-gap: 1rem;
        justify-items: start;
		padding:0 1rem;
	}
	label {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	span {
		font-size: 1rem;
		margin: 0.5 0;
	}
	img {
		margin: 0.5rem;
	}
}

footer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height:auto;
	min-height: 5.3rem;
	padding: 0;
	margin: 0;

	p {
		font-size: 0.7rem;
	}
}
.social-list {
	ul {
		display: flex;
	}
	li {
		margin: 0.5rem;
		cursor: pointer;
			&:hover {
		outline: none;
		transform: translateY(-2px);
		box-shadow: 0 .5rem 1rem rgba($brown, 0.5);
	}
	}
}
