  .header {
    overflow: hidden;

    height:95vh;
    width: 100%

    &__content {
        position: relative;
    }

    &__text-box {
	    position:absolute;
	    top:50%;
	    @include center-object;
	}

	&__btn-box {
	    position:absolute;
	    top:90%;
	    @include center-object;
	}

  }