@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
/* MEDIA QUERY BREAKPOINTS
    0-576px for portrait phones.
    577-768px for tablets in portrait mode.
    769-991 for tablets in landcape mode.
    992-1200px for laptops.
    1200px+ for large devices.


*/
h1,
.h1 {
  font-size: 2.2rem;
  line-height: 2.56rem;
}

h2,
.h2 {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.75rem;
}

h3,
.h3 {
  font-size: 1rem;
  line-height: 1.375rem;
}

p {
  font-size: 1rem;
  line-height: 1.375rem;
}

.section-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  align-self: baseline;
  padding: 0 0.5rem;
}
.section-text h2 {
  font-weight: 500;
  padding: 0.5rem;
}
.section-text p {
  font-weight: 400;
  padding: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  color: #7B430A;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 48em) {
  section {
    padding: 1rem 0;
  }
}

article,
nav,
section {
  display: block;
  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  font-family: "Montserrat", sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  background: transparent;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}
.background__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: radial-gradient(white 0%, white 30%, transparent 90%, transparent);
          mask-image: radial-gradient(white 0%, white 30%, transparent 90%, transparent);
}

.App {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid: auto-flow min-content/1fr;
  grid-gap: 1rem;
  scroll-behavior: smooth;
  grid-template-areas: "nav" "hero" "about" "projects" "technologies" "contact" "footer";
}

.nav {
  grid-area: nav;
}

.hero {
  grid-area: hero;
}

.about {
  grid-area: about;
  background-color: #fff;
}

.projects {
  grid-area: projects;
  background-color: #FBF2DB;
}

.technologies {
  grid-area: technologies;
  background-color: #fff;
}

.contact {
  grid-area: contact;
  background-color: #FBF2DB;
}
.contact footer {
  background-color: #B77423;
  color: #FBF2DB;
}
.contact footer .label {
  display: none;
}

.nav {
  position: fixed;
  width: 100%;
  height: 1.87;
  max-height: 8vh;
  overflow: hidden;
  color: #fff;
  z-index: 999;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgba(252, 249, 247, 0.473);
}
.nav img {
  height: 2rem;
  cursor: pointer;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgba(112, 75, 32, 0.829);
  border-radius: 44px;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}
.nav ul a {
  font-size: 0.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.3rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  position: relative;
  border: 2px solid #7B430A;
  display: inline-block;
  transition: all 0.2s;
}
.btn:hover {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn--brown {
  background-color: transparent;
  outline: #7B430A;
  color: #7B430A;
  margin: 2.5rem 1rem 0 0;
}
@media only screen and (max-width: 48em) {
  .btn--brown {
    margin: 1rem;
  }
}

.btn-rectangular:link, .btn-rectangular:visited {
  color: #7B430A;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #7B430A;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn-rectangular--white:hover, .btn-rectangular:hover {
  background-color: #7B430A;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
.btn-rectangular--white:active, .btn-rectangular:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn-rectangular--white:link, .btn-rectangular--white:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.btn-rectangular--white:hover {
  border-bottom: 1px solid transparent;
}

.hero {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text-box {
  position: relative;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}
.hero .h1 {
  padding: 0.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.hero .h1-name {
  font-family: "Satisfy", serif;
  color: #B77423;
}
.hero-btn-box {
  position: relative;
  margin: auto;
  display: none;
}
.hero .type-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  font-weight: 500;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  max-width: 100%;
  position: relative;
  margin-top: 2rem;
  margin: auto;
  height: auto;
}
.about-image {
  max-width: 9rem;
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  height: auto;
}
.projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 1.3rem;
}
.projects li {
  position: relative;
}
.projects li button {
  background-color: transparent;
  outline: transparent;
  border-color: transparent;
}
.projects li img {
  height: 7.2rem;
  width: 9.3rem;
  padding: 0;
  border-radius: 1rem;
}
.projects li h3 {
  color: #7B430A;
  font-weight: 500;
}
.projects li .overlay h3 {
  position: absolute;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  max-height: 92vh;
}
.technologies ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem 0.4rem;
  padding: 0 0.5rem;
}
.technologies .techItem label {
  display: inline-flex;
  flex-direction: column;
  height: 4.25rem;
  width: 4.75rem;
  justify-content: center;
  align-items: center;
}
.technologies .techItem .label {
  font-size: 0.8rem;
}
.technologies .techItem img {
  height: 2.75rem;
  margin-bottom: 0.5rem;
}

.contact {
  display: block;
  height: auto;
  max-height: 92vh;
}

.contact-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}
.contact-section .contact-list {
  display: grid;
  grid-gap: 1rem;
  justify-items: start;
  padding: 0 1rem;
}
.contact-section label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.contact-section span {
  font-size: 1rem;
  margin: 0.5 0;
}
.contact-section img {
  margin: 0.5rem;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5.3rem;
  margin: 1rem 0;
}
footer p {
  font-size: 0.7rem;
}

.social-list ul {
  display: flex;
}
.social-list li {
  margin: 0.5rem;
}/*# sourceMappingURL=index.css.map */