/* MEDIA QUERY BREAKPOINTS
    0-576px for portrait phones.
    577-768px for tablets in portrait mode.
    769-991 for tablets in landcape mode.
    992-1200px for laptops.
    1200px+ for large devices.


*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #7B430A;
}

section {
  padding: 2rem 0;
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 48em) {
  section {
    padding: 1rem 0;
  }
}

article,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading-primary {
  color: #7B430A;
  margin-bottom: 2.5rem;
  font-weight: 400;
}
.heading-primary--main {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
.heading-primary--name {
  font-family: "Satisfy", serif;
  font-size: 5rem;
}
.heading-primary--sub {
  display: block;
  font-size: 2.6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #FBF1D9, #DFAC63);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg);
  text-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.background {
  width: 100%;
  height: 100%;
  background: transparent;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}
.background__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: radial-gradient(white 0%, white 30%, transparent 90%, transparent);
          mask-image: radial-gradient(white 0%, white 30%, transparent 90%, transparent);
}

.App {
  display: grid;
  grid: auto-flow min-content/1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  scroll-behavior: smooth;
  grid-template-areas: "nav" "hero" "about" "projects" "technologies" "contact";
}

.nav {
  grid-area: nav;
  justify-self: center;
}

.hero {
  grid-area: hero;
  justify-self: center;
}

.about {
  grid-area: about;
  justify-self: center;
  background-color: #fff;
}

.projects {
  grid-area: projects;
  justify-self: center;
  background-color: #FBF2DB;
}

.technologies {
  grid-area: technologies;
  justify-items: center;
  background-color: #fff;
}

.contact {
  grid-area: contact;
  justify-self: center;
  background-color: #FBF2DB;
}
.contact footer {
  background-color: #B77423;
  color: #FBF2DB;
}
.contact footer .label {
  display: none;
}

.nav {
  position: fixed;
  width: 100%;
  height: 1.87;
  overflow: hidden;
  color: #fff;
  z-index: 999;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgba(241, 213, 181, 0.603);
}
.nav img {
  height: 2rem;
  cursor: pointer;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgba(112, 75, 32, 0.829);
  border-radius: 44px;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}
.nav ul a {
  font-size: 0.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.3rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  position: relative;
  border: 2px solid #7B430A;
  display: inline-block;
  transition: all 0.2s;
}
.btn:hover {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn--brown {
  background-color: transparent;
  outline: #7B430A;
  color: #7B430A;
  margin: 2.5rem 1rem 0 0;
}
@media only screen and (max-width: 48em) {
  .btn--brown {
    margin: 1rem;
  }
}

.btn-rectangular:link, .btn-rectangular:visited {
  color: #7B430A;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #7B430A;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn-rectangular--white:hover, .btn-rectangular:hover {
  background-color: #7B430A;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
.btn-rectangular--white:active, .btn-rectangular:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn-rectangular--white:link, .btn-rectangular--white:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.btn-rectangular--white:hover {
  border-bottom: 1px solid transparent;
}

.hero {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text-box {
  position: relative;
  margin: auto;
}
.hero-btn-box {
  position: relative;
  margin: auto;
}
.hero .type-wrap {
  display: flex;
  justify-content: center;
  display: relative;
  margin: auto;
}

.about {
  display: block;
  max-width: 100%;
  position: relative;
  margin: auto;
  justify-content: center;
}
@media only screen and (max-width: 48em) {
  .about {
    margin-top: 3rem;
  }
}
.about__image {
  max-width: 25%;
  position: absolute;
  margin: auto;
  align-items: center;
}
@media only screen and (max-width: 48em) {
  .about__image {
    position: relative;
    margin-top: 3rem;
  }
}

.projects {
  display: flex;
}

.project-list {
  display: grid;
  grid: auto-flow min-content/1fr;
}
.project-list li img {
  height: auto;
  width: 15rem;
  padding: 0;
}
.project-list li .overlay {
  opacity: 0.6;
}
.project-list li .overlay h3 {
  position: absolute;
}

.technologies {
  display: block;
}

.tech-list {
  display: grid;
  grid: auto-flow min-content/1fr;
}/*# sourceMappingURL=index.css.map */