* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

html {
	color: $brown;
	scroll-behavior: smooth;
	align-items: center;
}

section {
	width: 100%;
	height: auto;
	align-items: start;
	justify-content: center;
	padding: 2rem;
	margin: 0 auto;
}

article,
nav,
section {
	display: block;
	font-family: "Montserrat", sans-serif;
}
ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

span {
	font-family: "Montserrat", sans-serif;
}
